body {
    margin: 0;
    padding: 0;
    touch-action: none;
    overflow: hidden;
}

#scalebar {
    position: absolute;
    top: 10%;
    right: 10px;
    width: 0.5%;
    height: 80%;
    border: 2px solid black;
    background-color: white;
}

#scalevalue {
    position: absolute;
    right: 0;
    background-color: white;
}

@media screen and (hover: none) {
    #scalevalue {
        font-size: 3em;
    }
}
