body {
    margin: 0;
    padding: 0;
    touch-action: none;
    overflow: hidden;
}

p {
    background-color: white;
    width: fit-content;
    padding: 3px;
}

.slidercontainer {
    position: absolute;
    width: 50%;
    display: flex;
}

.timeslider {
    width: 50%;
}

#dayslidercontainer {
    bottom: 10%;
}

#yearslidercontainer {
    bottom: 5%;
}

#scalebar {
    position: absolute;
    top: 10%;
    right: 10px;
    width: 0.5%;
    height: 80%;
    border: 2px solid black;
    background-color: white;
}

#scalevalue {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (orientation: portrait) {
    #scalevalue {
        font-size: 3em;
    }
}
